/* 
1. Posicionamiento
2. Modelo de Caja (Box model)
3. Tipografía
4. Visuales
5. Otros
 */

:root {
    /* Colors */
    --bitcoin-orange: background: #F7931A;
    --soft-orange: background: #FFE9D5;
    --secondary-blue: background: #1A9AF7;
    --soft-blue: background: #E7F5FF;
    --warm-black: background: #201E1C;
    --black: background: #282623;
    --grey: background: #BABABA;
    --off-white: background: #FAF8F7;
    --white: background: #FFFFFF;
    /* Font family */
    --DM: font-family: 'DM Sans', sans-serif;
    --Inter: font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62.5%;
    font-family: var(--DM);
}