/* 
1. Posicionamiento
2. Modelo de Caja (Box model)
3. Tipografía
4. Visuales
5. Otros
 */

:root {
    /* Colors */
    --dm            : 'DM Sans', sans-serif;
    --inter         : 'Inter', sans-serif;
    --bitcoin-orange: #F7931A;
    --black         : #282623;
    --grey          : #BABABA;
    --just-white    : #FFFFFF;
    --off-white     : #FAF8F7;
    --secondary-blue: #1A9AF7;
    --soft-blue     : #D7F5FF;
    --soft-orange   : #FFE9D5;
    --warm-black    : #201E1C;
    /* Font family */
}

* {
    box-sizing: border-box;
    margin    : 0%;
    padding   : 0%;
}

html {
    font-family: var(--dm);
    font-size  : 62.5%;
}

.header {
    background     : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display        : flex;
    flex-direction : column;
    height         : 334px;
    justify-content: center;
    min-width      : 320px;
    position       : relative;
    text-align     : center;
    width          : 100%;
}

.header__img {
    height    : 24px;
    margin-top: 60px;
    object-fit: cover;
    width     : 150px;
}

.header__title--container {
    align-self: center;
    height    : 218px;
    margin-top: 40px;
    max-width : 900px;
    min-width : 288px;
    width     : 90%;
}

.header__title--container h1 {
    color      : var(--just-white);
    font-size  : 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title--container p {
    color      : var(--soft-orange);
    font-size  : 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top : 25px;
}

.header__title--container .header__button {
    background-color: var(--off-white);
    display         : block;
    height          : 48px;
    left            : calc(50% - 114.5px);
    padding         : 15px;
    position        : absolute;
    top             : calc(100% - 27px);
    width           : 229px;
    /* Sombra */
    border-radius   : 20px;
    box-shadow      : 2px 8px 16px rgba(89, 73, 30, 0.16);
    color           : var(--black);
    font-size       : 1.4rem;
    font-weight     : bold;
    text-decoration : none;
}

.header__button span {
    background-image: url('./assets/icons/down-arrow.svg');
    display         : inline-block;
    height          : 8px;
    margin-left     : 10px;
    width           : 13px;
}

.main {
    background-color: var(--off-white);
    height          : auto;
    min-width       : 320px;
    width           : 100%;
}

.main__exchange--container {
    height        : auto;
    padding-bottom: 30px;
    padding-top   : 80px;
    text-align    : center;
    width         : 100%;
}

.main__exchange--container .main__backgroundImg {
    background-image   : url(assets/img/Bitcoin.svg);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 200px;
    margin             : 0 auto;
    margin-bottom      : 50px;
    width              : 200px;
}

.main__exchange--container-title {
    margin   : 0 auto;
    max-width: 900px;
    min-width: 288px;
    width    : 90%;
}

.main__exchange--container h2 {
    color        : var(--black);
    font-size    : 2.4rem;
    font-weight  : bold;
    line-height  : 2.6rem;
    margin-bottom: 30px;
}

.main__exchange--container p {
    color        : #757575;
    font-size    : 1.4rem;
    font-weight  : 500;
    line-height  : 1.6rem;
    margin-bottom: 30px;
}

.main__currency--table {
    font-family: var(--inter), sans-serif;
    height     : 360px;
    margin     : 0 auto;
    max-width  : 500px;
    min-width  : 235px;
    width      : 70%;
}

.main__currency--table .main__currency--table-title {
    color        : var(--bitcoin-orange);
    font-size    : 1.8rem;
    font-weight  : bold;
    line-height  : 2.3rem;
    margin-bottom: 15px;
}

.main__currency--table .main__currency--table-title-blue {
    color        : var(--secondary-blue);
    font-size    : 1.8rem;
    font-weight  : bold;
    line-height  : 2.3rem;
    margin-bottom: 15px;
}

.main__currency--table .main__currency--table-container {
    height   : 250px;
    margin   : 0 auto;
    max-width: 300px;
    min-width: 230px;
    width    : 90%;
}

.main__currency--table-container table {
    height: 100%;
    width : 100%;
}

.main__currency--table-container td {
    background-color: var(--just-white);
    color           : var(--grey);
    font-size       : 1.6rem;
    font-weight     : 500;
    line-height     : 1.9rem;
    width           : 50%;
}

.main__currency--table-container td .ethereum {
    padding-left: 53px;
    display: inline-block;
    padding-right: 10px;
}

.main__currency--table-container td .bitrade {
    padding-left: 57px;
    display: inline-block;
}

.main__currency--table-container td .bitpreco {
    padding-left: 58px;
    display: inline-block;
    padding-right: 6px;
}

.main__currency--table-container td .novadax {
    padding-left: 58px;
    display: inline-block;
    padding-right: 6px;
}

.main__currency--table-container td .coinext {
    padding-left: 57px;
    display: inline-block;
}

.table__top--right {
    border-radius: 0 15px 0 0;
    box-shadow      : 2px 0 0 0 rgba(89, 73, 30, 0.07);
}

.table__top--left {
    border-radius: 15px 0 0 0;
}

.table__mid--right {
    box-shadow      : 2px 0 0 0 rgba(89, 73, 30, 0.07);
}

.table__bottom--right {
    border-radius: 0 0 15px 0;
    box-shadow      : 2px 2px 0 0 rgba(89, 73, 30, 0.07);
}
.table__bottom--left {
    border-radius: 0 0 0 15px;
    box-shadow      : 0 2px 0 0 rgba(89, 73, 30, 0.07);
}

.table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.logo__bitcoin {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/bitcoin.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.logo__ethereum {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 21px;
    background-image: url(./assets/icons/ethereum.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.logo__ripple {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/ripple.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 29px;
}

.logo__stellar {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/stellar.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 27px;
}

.logo__bitrade {
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/bitrade.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 13px;
}

.logo__bitpreco {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/bitpreco.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 21px;
}

.logo__novadax {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/novadax.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 21px;
}

.logo__coinext {
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(./assets/icons/coinext.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 14px;
}

.currency-table__date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.currency-table__date b {
    font-weight: bold;
}

.currency-table__date-blue {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.currency-table__date-blue p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.currency-table__date-blue b {
    font-weight: bold;
}